{% extends "base.html" %}
{% load i18n %}
{% block body %}
{% include "ticket/head.html" %}
<div>
	{% if perms.ticket.add_action %}
		{% include "action/new.html" with form=actionForm %}
	{% endif %}
</div>
<div>
	{% for action in ticket.orderedActions %}
		{% include "action/detail.html" %}
	{% endfor %}		
</div>
{% endblock %}