{% extends "base.html" %}
{% load i18n %}
{% block body %}
<table class="table table-striped table-hover" >
	<thead>
		<tr>
			<th class="text-center"></th>
			<th class="text-center">{% trans "ticket.title" %}</th>
			<th class="text-center">{% trans "ticket.state" %}</th>
			<th class="text-center">{% trans "ticket.firstAction" %}</th>
			<th class="text-center">{% trans "ticket.lastAction" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for ticket in tickets %}
		<tr>
			<td>
				{% include "ticket/link.html" %}
			</td>
			<td>
				{{ticket.title}}
			</td>
			<td>
				{{ticket.state}}
			</td>
			<td>
				{% if ticket.firstAction  %}
					{% include "action/link.html" with action=ticket.firstAction %}
					{{ticket.firstAction.time}}
				{% else %}
					---
				{% endif %}
			</td>
			<td>
				{% if ticket.lastAction  %}	
					{% include "action/link.html" with action=ticket.lastAction %}
					{{ticket.lastAction.time}}
				{% else %}
					---
				{% endif %}
			</td>
		</tr>
		{% endfor %}		
	</tbody>
	<tfoot>
		
	</tfoot>
</table>
{% endblock %}

