{% load i18n %}
{% load pomodoro %}
<div class="bs-callout bs-callout-default" style="border-left-color:#{{ticket.color}}" >
	<div class="row">
		<div class="col-xs-6 text-left">
			<h3>
				{% include "ticket/link.html" %}
				{{ticket.title}}	
				<i>
					({{ticket.actions.all | length }})
				</i>	
			</h3>
			{% if ticket.parent %}
			<h5>
				{% include "ticket/link.html" with ticket=ticket.parent %}
				{{ticket.parent.title}}
			</h5>
			{% endif %}
		</div>
		<div class="col-xs-6 text-right">
			<p>{{ticket.firstAction.time}}</p>
			<p>{{ticket.lastAction.time}}</p>
		</div>
	</div>
	<br />
	<pre>{{ticket.description | prepare }}</pre>
	<div class="row">
		<div class="col-xs-4 text-left">
			{% trans "ticket.children" %}
			<a
				href="{% url "ticket:add-child-ticket" ticket.id %}"
				class="btn btn-success btn-xs">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
			<p></p>
			{% for child in ticket.children.all %}
			<p>
				{% include "ticket/link.html" with ticket=child %}
				{{child.title}}
			</p>
			{% endfor %}
		</div>
		<div class="col-xs-4 text-left"></div>
		<div class="col-xs-4 text-left">
			{% trans "ticket.related" %}
			{% for related in ticket.related.all %}
			<p>
				{% include "ticket/link.html" with ticket=related %}
				{{related.title}}
			</p>
			{% endfor %}
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-8"></div>
		<div class="col-xs-4">
			<div class="form-group" >
				<label>{% trans "ticket.state" %}</label>
				<select class="form-control" name="state" >
					<option value="ticket.state.state.id" >
						{{ticket.state.state}}
					</option>
					{% for state in ticket.state.state.after.all %}
					<option value="{{state.id}}" >
						{{state}}
					</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="row" >
		<div class="col-xs-12">
			<hr />
		</div>
	</div>
	<div class="row" >
		<div class="col-xs-6 text-left" >
			{% for author in ticket.authors %}
				{% include "author/link.html" %}
			{% endfor %}
		</div>
		<div class="col-xs-6 text-right" >
			{% for category in ticket.category.all %}
				{% include "ticket-category/link.html" %}
			{% endfor %}
		</div>
	</div>
</div>