{% extends "base.html" %}
{% load pomodoro %}
{% load i18n %}
{% block body %}
<div class="bs-callout bs-callout-info" >
	<form role="form" method="POST" action="{% url "ticket:new-ticket"%}">
		{% csrf_token %}
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					{{form.title.label_tag}}
					<div class="input-group">
						<div class="input-group-addon"><b>#</b></div>
						{{form.title}}
					</div>
				</div>
				{% if parent %}
				<h5>
					<input type="hidden" name="parent" value="{{parent.id}}" />
					{% include "ticket/link.html" with ticket=parent %}
					{{ parent.title }}
				</h5>
				{% endif %}
			</div>
			<div class="col-xs-6"></div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group"> 
					{{form.description.label_tag}}
					{{form.description}}
				</div>
			</div>
		</div>
		<div class="row" >
			<div class="col-xs-12">
				<div class="form-group">
					{{form.categories.label_tag}}
					{{form.categories}}
				</div>
			</div>
		</div>
		<div class="row" >
			<div class="col-xs-6">
			</div>
			<div class="col-xs-6 text-right">
				<button class="btn btn-success" type="submit" >
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}