body{
	padding-top: 70px;
}

div.messages {
	position: fixed;
	top:100px;
	width:100%;
	text-align: center;
	z-index:9999;
}

.messages .alert {
	max-width: 50%;
	min-width: 30%;
	margin: 0 auto;
	margin-bottom: 20px;
    box-shadow: 10px 10px 5px #888888;
}

.alert:hover{
	cursor:pointer;
}