{% extends "base.html" %}
{% block body%}
{% if user.is_authenticated %}
{{author}}
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#last-actions" role="tab">
			Last Actions
		</a>
	</li>
	<li role="presentation">
		<a href="#last-tickets" role="tab">
			Last Tickets
		</a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="last-actions">
		{% for action in author.lastActions %}
			{% include 'action/detail.html' %}
		{% endfor %}		
	</div>
	<div class="tab-pane" id="last-tickets">
		{% for ticket in author.lastTickets %}
			{% include 'ticket/link.html' %}
		{% endfor %}		
	</div>
<div>
{% endif %}
{% endblock %}
