{% load pomodoro %}
<div id="action-{{action.id}}" class="bs-callout bs-callout-default" >
	<h4>
		{% include "action/link.html" %}
		{{action.title}}
	</h4>
	<br />
	<pre>{{ action.description | prepare }}</pre>
	<div class="row">
		<div class="col-xs-6 text-left">
			{% include "author/link.html" with author=action.author %}
			{% include "ticket/link.html" with ticket=action.ticket %}
			{% for category in action.category.all %}
				{% include "action-category/link.html" %}
			{% endfor %}
		</div>
		<div class="col-xs-6 text-right">
			{{action.time}}
		</div>
	</div>
</div>