{% load i18n %}
<div id="add-action" class="bs-callout bs-callout-info" >
	<form role="form" method="POST" action="#add-action">
		{% csrf_token %}
		<input type="hidden" name="ticket" value="{{ticket.id}}" />
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group{% if form.title.errors %} has-error {% endif %}">
					<div class="input-group">
						<div class="input-group-addon"><b>!</b></div>
						{{form.title}}
					</div>
					{% for error in form.title.errors %}
					<div class="help-block">
						{{error}}
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-xs-6"></div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group {% if form.description.errors %} has-error {% endif %}"> 
					{{form.description}}
				</div>
				{% for error in form.description.errors %}
					<div class="help-block">
						{{error}}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="row" >
			<div class="col-xs-6">
				{% include "author/link.html" with author=currentAuthor %}
				{% include "ticket/link.html" %}
			</div>
			<div class="col-xs-6 text-right">
				<button class="btn btn-success" type="submit" >
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</div>
		</div>
	</form>
</div>