{% extends "base.html" %}
{% block body %}
<div id="main">
    <div id="main-menu">
        {% block menu %}
        {% endblock %}
    </div>
    <div id="main-content">
        {% block content %}
        <iframe
            id="browser"
            class="iframe"
            seamless=""
            style="width:100%;height:100%"
            frameBorder="0"
            scrolling="no"
            onload='javascript:resizeIframe(this);'
            src="{% url "ticket:ping-pong" %}">
        </iframe>
        {% endblock %}
    </div>
</div>
{% endblock %}