{% load pomodoro %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>
        {% block title %}
            Pomodoro
        {% endblock %}
        </title>
        <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "js/pomodoro.js" %}"></script>
        <script type="text/javascript" src="{% static "js/multiselect.js" %}"></script>
        <script type="text/javascript" src="{% static "js/mousetrap.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.form.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/pomodoro.css" %}" />
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}" />
        <link rel="stylesheet" href="{% static "css/bootstrap-doc.css" %}" />
        <link rel="stylesheet" href="{% static "css/multiselect.css" %}" />
        <link rel="icon" type="image/png" href="{% static "favicon.png" %}" />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            {% block navbar %}
            <div class="container-fluid">
               <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "home" %}">Pomarola</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url "ticket:find-ticket" %}">Tickets</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search" method="GET">
                        <div class="form-group">
                            <div class="input-group">
                                <input name="q" type="text" class="form-control" placeholder="Busca Rapida" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% endblock %}
        </nav>
        <div class="row-fluid">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                {% block body %}
                {% endblock %}      
            </div>
            <div class="col-xs-1"></div> 
        </div>
        {% if messages %}
        <div class="messages text-center">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags | msgClass }}">
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </body>
</html>
