{% for field in fields %}
	<div class="form-group{% if field.errors %} has-error {% endif %}">
		{{field.label_tag}} {{field}}
		<div class="help-block">
			{% for error in field.errors %}
				{{error}}
			{% endfor %}
		</div>
	</div>
{% endfor %}