{% extends "base.html" %}
{% block body %}
<form class="form" method="POST">
{% csrf_token %}
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}
{% include "fields.html" with fields=form %}
	<br />
	<button class="btn btn-success" type="submit">
		Send
	</button>
</form>
{% endblock %}