{% extends "base.html" %}
{% block body %}
<div class="jumbotron">
	<div class="container">
		<div class="row" >
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<form role="form" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>
							Login
						</label>
						<input name="username" type="text" class="form-control" placeholder="Username or email" />
					</div>
					<div class="form-group">
						<label>
							Senha
						</label>
						<input name="password" type="password" class="form-control" />
					</div>
					<button type="submit" class="btn btn-default">
						Login
					</button>
				</form>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>
</div
{% endblock %}